* {
    font-family: "Inter", sans-serif;
    color: #FFEFE2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100%;
}

nav {
  background-color: #002B52;
  overflow: hidden;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 5;

}
.nav_item {
    width: 100%;
}


#nav_center {

    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}
#nav_right {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#nav_right > a {
    padding: 15px;
    font-weight: 250;
    text-decoration: none;
    opacity: 80%;
}


#nav_right > a.active{
    font-weight: bold;
    text-decoration: underline 2px solid #FF7000;
    text-underline-offset: 12px;
    opacity: 100%;

}

#logo {
    pointer-events: auto;
    width: 38px;
    height: 40px;
    object-fit: contain;
    margin:0;
    padding: 0;
}

#mainHomePage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
/* HOMEPAGE CSS*/
#homePageCoverImage {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 650px;
    background-image: url('image/homepage_cover_image.jpg');
    /* Optional: control repetition, position, and size */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#homePageCoverImage::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-image: linear-gradient(to top, black, transparent);
}

#homePageContainer {
    width: 500px;
    height: 350px;
    background-color: rgb(0,0,0, 0.6); 
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
    padding: 0px 40px;
    margin: 0px 10%;
}

h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;

}
#homePageText {
    font-style: italic;
    font-weight: 300;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    color: #FFEFE2;
}
.header_design {
  position: relative;
  display: inline-block;
  margin: 20px 0 40px;
  z-index: 1;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
   /* or your page background color */
}

/* visible orange underline + subtle shadow */
.header_design::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1.5px; /* controls how close the bar is to text */
  width: 100%;
  height: 10px;
  background-color: #002B52;
  z-index: -1; /* keeps it behind text but above background */
}

#menuBoardHeader {
    text-decoration: none;
}
#menuBoardHeaderLine {
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-decoration-color: #002B52;
    text-decoration-thickness: 10px;
}


#informationBoard {
    width: 65%;
    margin: 40px;
}


.information_sectionContainer {
    margin-bottom: 50px;
}

.announcement_container{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-bottom: 20px;
}

.announcement_imgContainer{
    width: 850px;
    overflow: hidden;
}

.announcement_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.announcement_textContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.announcement_textInnerContainer {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.textContainer{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h3 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
}

.reservationContainer h3{
    color: #3F3F3F;
    text-transform: none;
    font-weight: 600;
    font-size: 24px;
    margin: 30px 0px 10px;
    
}


h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}
.reservationContainer h4{
    color: #3F3F3F;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
    margin: 0px 0px 8px;
}
.reservationContainer p{
    color: #3F3F3F;
    font-size: 12px;
    opacity: 50%;
}

h5 {
    font-size: 14px;
    font-weight: 300;
}

.btn_learnMore {
    background-color: transparent;
    border: 2px solid #FFEFE2;
    text-transform: uppercase;
    width: 150px;
    height: 30px;
}
#menuBoardContainer {
    position: relative;
    width: 65%;
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
}
#menuBoardContainer::after {
    position: absolute;
    content: '';
    width:100vw;
    height: 50%;
    top: 23%;
    left: -45%;
    background-color: #111111;
    z-index: -2;

}
#menuBoardTextContainer{
    position: relative;
    margin: 40px 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
    gap: 15px;
    padding-right: 40px;
}

#menuBoardImgContainer {
    width: 40%;      
    overflow: hidden;   
    position: relative;
 
}

#menuBoardImg {
   transform: translateX(-33%);

}

#menuBoardBtn {
    margin: 30px 0px;
}


/*ABOUT US CSS*/
#mainAboutUs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#aboutUsPageContainer {
    width: 65%;
    margin: 40px;

}

.aboutUsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px 0px;
}

.aboutUsLeftContainer {
    width: 45%;
    height: 500px;
    overflow: hidden;
}


.aboutUsRightContainer {
    width: 55%;
    height: 500px;
    overflow: hidden;
}



.aboutUs_img{
    height: 100%;
    width: 100%;
}
.leftSide {
    object-fit: cover;
    object-position: left;
}
.rightSide {
    object-fit: cover;
    object-position: right;
}
.rightTextContainer {
    background-color: #FFEFE2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;   
}
.aboutUsTextContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}

.aboutUs_text {
    color: #3F3F3F;
    font-size: 18px;
}
.orange {
    color:#FF7000;
}
/*MENU CSS*/
#menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#menuContentContainer {
    width: 65%;
    margin: 40px;

}

#menuFilterSection {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menuFilterContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 50px;
}

.btn_menuFilter {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #3F3F3F;
  cursor: pointer;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.btn_menuFilter.active {
  color: #FFEFE2;
  font-weight: bold;
}

.text_menuFilter {
  pointer-events: none;
  user-select: none;
  color: #3F3F3F;
}

#slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #FF7000;
  transition: all 0.5s ease;
  z-index: 0;
}

#menuContentSection {
    width: 100%;
}

.menuFoodSection{
    width: 100%;
    margin-bottom: 40px;
}

.menuFoodSection.drink {
  display: none;
}
.menuFoodSection.setMenu {
  display: none;
}


.menuFoodItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;               
    justify-content: flex-start; 
    gap: 30px;           
}
.foodItem {
    width: 190px;
    box-sizing: border-box; 
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setMenu .foodItem {
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0; /* start invisible */
  position: relative; /* for transform to work */
}
.img_food {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    overflow: hidden;
}
.foodItemBackground {
    opacity: 0%;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);;
    z-index: 1;
}
.foodName {
    opacity: 0%;
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
    z-index: 2;
}



.smallHeader {
    font-weight: 600;
}
.smallHeader::after {
    bottom: -2px; /* controls how close the bar is to text */
    width: 100%;
    height: 8px;
}


/*HEADER DESIGN*/
#aboutUs_h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #3F3F3F;

}
#aboutUs_h2::after {
  background-color: #FF7000;
}

/*RESERVATION CSS*/
#mainReservation {
    width: 100%;
    height: 92vh;
}




#reservationInputScreen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;               
    justify-content: flex-start; 
    
}



#leftReservationSection{
    width: 50%;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
#inputSectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.reservationHeader{
    color: white;
    font-size: 24px;
    margin: 20px 0px 40px;
}

#reservationForm {
    background-color: white;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}


#reservationForm input,
#reservationForm select {
    background-color: transparent;
    color: black;
    border: none;
    font-weight: bold;
    margin: 5px 5px;
    padding: 10px;
}


#reservationForm button {
    background-color: black;
    color: white;
    font-weight: bold;
    margin: 5px 5px;
    padding: 15px 30px;

}

#rightReservationSection{
    width: 45%;
    border: 2px solid green;

}



/* Reservation Contact Info */

#reservationContactDetailScreen {
    width: 100%;
    min-height: 92vh;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    overflow-y: auto;

}
.reservationContainer {
    width: 500px;
    position: relative;
    background-color: #FFEFE2;
    padding: 8px 30px;
    border: 2px solid #3F3F3F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservationContainer::before {
  content: "";             /* creates a "ghost" box */
  position: absolute;      /* allows offset positioning */
  bottom: 15px;                /* pushes it down */
  left: -20px;              /* pushes it to the left */
  width: 100%;             /* same width as the button */
  height: 100%;            /* same height as the button */
  background-color: #FF7000; /* orange color */
  z-index: -1;             /* sends it behind the button */
}
#reservationContactForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 30px 0px;


}


#reservationContactForm input {
    width: 100%;
    height: 35px;
    color: #626262;
    background-color: #ECE6E6;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 13px;
}

#reservationContactForm > div > input {
    margin: 0;
}

#reservationContactForm > div:not(.btnSubmitContainer):not(#displayGuestEmail) {
    background-color: #ECE6E6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#btnAddEmail {
    color: #626262;
    font-weight: bold;
    background-color: #D9D9D9;
    border: none;
    height: 25px;
    width: 70px;
    font-size: 12px;
    margin-right: 5px;
}

.btnSubmitContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 20px;
    margin: 5px 0px;
    padding: 10px;
}

#reservationConfirmationScreen .btnSubmitContainer {
    flex-direction: column;
    margin: 0;
    padding: 0;

}
.btnReservation {
    background-color: black;
    color: #FFEFE2;
    border: none;
    font-weight: bold;
    padding: 8px 20px;
    font-size: 12px;
    margin: 10px 0px;
}
#comment {
    width: 100%;
    height: 105px;
    color: #626262;
    background-color: #ECE6E6;
    border: none;
    padding: 10px 0px 0px 10px;
    font-weight: 600;
    font-size: 13px;
    resize: none;
}
#countryCode {
    background-color: transparent;
    color: #626262;
    font-weight: 600;
    font-size: 13px;
    border: none;
    margin: 0px 4px 0px 8px;
}

/* Reservation Confirmation */
#reservationConfirmationScreen {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#reservationConfirmation {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 0px;
}
#reservationConfirmationContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 0px;
}

#displayGuestEmail {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.guestEmailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    gap: 10px;
    padding: 8px 20px;
    margin-bottom: 5px;
}
.guestEmailh5 {
    font-weight: 600;
    margin: 0;
}
.removeEmail {
    background-color: transparent;
    border: none;
}
.reservationText {
    color:#626262;
}

/*FOOTER CSS*/
footer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid transparent; /* keeps spacing clean */
    box-shadow: 0 0 15px rgba(255, 239, 226, 0.25); 
    margin-top: 50px;
    
}

#footer_container {
    width: 80%;
    height: 80%;
    margin: 40px 0px;
    padding: 40px;
    
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
}

.footer_text {

    word-wrap: break-word;   /* force long words/links to wrap */
    overflow-wrap: anywhere; 
}

.footer_text > p{
    margin-bottom: 8px;
}

.btn_design {
    position: relative;
    background-color: #FFEFE2;
    color: #3F3F3F;
    text-transform: uppercase;
    padding: 8px 30px;
    border: 2px solid #3F3F3F;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 14px;

}
.btn_design::before {
  content: "";             /* creates a "ghost" box */
  position: absolute;      /* allows offset positioning */
  bottom: 8px;                /* pushes it down */
  left: -10px;              /* pushes it to the left */
  width: 100%;             /* same width as the button */
  height: 100%;            /* same height as the button */
  background-color: #FF7000; /* orange color */
  z-index: -1;             /* sends it behind the button */
}
.btn_container {
    display: inline-block;
    overflow: visible; /* or hidden if you want to trim the overflow */
    margin-left: 8px;

}


.arrow {
    height: 12px;
    margin: 0px 0px 0px 10px;
}



.announcement_textContainer,
.announcement_textContainer h3,
.announcement_textContainer h4,
.announcement_textContainer h5,
.announcement_textContainer button {
    transition: 
        color 0.5s ease,
        background-color 0.5s ease,
        border-color 0.5s ease;
}

.foodItemBackground,
.foodName {
  transition:
    opacity ease-in-out 0.1s; 
}